$primaryFont: 'Commissioner', sans-serif;

$whiteColor: #ffffff;
$backgrounDesktopColor: #fafafa;
$paraColor: #7a7a7a;
$buttonBlueColor: #3cb3ab;
$backgroundColor: #f2f2f2;
$greyColor: #979797;
$brownGrey: #929292;
$blackColor: #000000;
$mainBorderColor: rgba(0, 0, 0, 0.0497193);
$standsBorderColor: rgba(0, 0, 0, 0.15);
$brownishColor: #2f2f2f;
